:root {
--main-header-color:  #750B0B;
--main-header-color-hover:  FireBrick;
--content-text-color:  Black;
--blockquote-text-color:  Navy;
--blockquote-border-color:  CornflowerBlue;
--link-color:  FireBrick;
--link-hover-color:  DarkBlue;
--pagination-active-color:  AliceBlue;
--pagination-hover-color:  LightCoral;
--pagination-disabled-color:  LightGray;
--pagination-border-color:  LightSalmon;
--pagination-border-hover-color:  LightSlateGray;
--pagination-font-color:  Maroon;
--pagination-font-hover-color:  Ivory;
--menu-background-color:  #750B0B;
--menu-font-color:  Lavender;
--menu-background-hover-color:  #750B0B;
--menu-font-hover-color:  OrangeRed;
--menu-border-color:  #750B0B;
--menu-border-hover-color:  Seashell;
--admin-font-color:  Black;
--admin-background-color:  LightGray;
--admin-header-color:  Indigo;
--admin-menu-background-color:  Grey;
--admin-menu-font-color:  Ivory;
--admin-menu-font-hover-color:  Maroon;
}