@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещён!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">У вас недостаточно прав для доступа к этой странице <img src="~/images/access_denied.svg" width="64" /></p>
</header>
