@page "{handler?}"
@model NewsSite.Areas.Identity.Pages.CategoryMenuSettingsModel
@{
    Layout = "/Areas/Identity/Pages/Shared/_Layout.cshtml";
}

<h2 header-2 admin-header-color>Редактирование меню категорий</h2>
<div class="row">
    <div class="col-6">
        <form method="post" class="form-control">
            <input class="form-control" name="category" />
            <input type="submit" class="form-control" value="Добавить в список категорий" />
        </form>
    </div>
    <div class="col-6">
        <table class="table table-sm">
            <tbody>
                @foreach (var elem in @Model.CatagoryList)
                {
                    <tr>
                        <td>@elem.CategoryName</td>
                        <td><a asp-area="Identity" asp-page="CategoryMenuSettings" asp-page-handler="DeleteCategory" 
                            asp-route-id="@elem.Id" class="btn btn-sm btn-outline-danger">Удалить</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
