
@{
    //@model IndexModel
}
<div class="form-floating" >
    <form>
        <input class="form-control-sm" name="query"/>
        <input type="submit" class="btn btn-light" asp-page="SearchResultPage" asp-route-pageNum="1"/>
    </form>
</div>
